* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

@font-face {
	src: url(../font/EncodeSansSemiExpanded/EncodeSansSemiExpanded-Regular.ttf);
	font-family: encoded_sans_semi_expanded;
}

@font-face {
	src: url(../font/Staatliches/Staatliches-Regular.ttf);
	font-family: title-font;
}

@font-face {
	src: url(../font/Montserrat/Montserrat-Regular.ttf);
	font-family: montserrat_regular;
}

@font-face {
	src: url(../font/Montserrat/Montserrat-Bold.ttf);
	font-family: montserrat_bold;
}

@font-face {
	src: url(../font/Montserrat/Montserrat-Black.ttf);
	font-family: montserrat_black;
}

body.loginPage {
	
	width: width-screen;
	height: height-screen;

	background-image: url(../img/login_background.jpg);

	background-size: cover;

	background-repeat: no-repeat;
}

#site-logo {
	width: 90px;
	height: 90px;
	border-radius: 50%;
}

#site-name {
	font-family: montserrat_black;
	color: white;
	font-size: 44px;
}

.tablinks {
	width: 241px;
	height: 64px;
	display: block;
	float: left;
	background: transparent;
	color: white;
	font-size: 18px;
	cursor: pointer;
	outline: none;
	padding: 14px 16px;
	border: 1px solid #ffa700;
	font-family: montserrat_regular;
}

#sign_up_tab {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

#login_tab {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.tablinks:hover {
	background: #ffa700;
	color: white;
	transition: 0.3s ease;
}

.tablinks:focus {
	background: #ffa700;
	color: white;
	transition: 0.3s ease;
}

div.BorderTab {
	display: inline-block;
}

div.tabcontent {
	width: 680px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	/*background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
    );*/
}

div#Lbox {
    display: none;
}

.textbox {
	width: 90%;
	overflow: hidden;
	font-size: 20px;
	padding: 13px 0;
	margin: 13px 0;
	border-bottom: 1px solid #ffa700;
	color: white;
}

.textbox i {
	width: 26px;
	float: left;
	text-align: center;
}

.textbox input {
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
	font-family: montserrat_regular;
}

.textbox input::placeholder {
	color: white;
}

.btn {
	width: 35%;
	height: 60px;
	background: #ffa700;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px;
	border: 1px solid #ffa700;
	font-family: montserrat_regular;
}

.btn:hover {
	background: transparent;
	color: #ffa700;
	transition: 0.3s ease;
}

#user_error, #email_error1, #email_error2, #passwd_error1, #passwd_error2, #ph_error {
	color: red;
	font-family: montserrat_regular;
}

nav {
	width: 100%;
	height: 100px;
	background-color: #000;
}

ul {

}

ul li {
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 100px;
}

ul li.LoginMenu {
	float: right;
}

ul li.SiteLogo {
	padding: 0 30px;
}

ul li a {
	display: block;
	text-decoration: none;
	font-size: 20px;
	font-family: montserrat_regular;
	color: white;
	padding: 0 20px;
}

ul li a:hover {
	color: #ffa700;
	transition: 0.2 ease;
}